.App {
  display: block;
  text-align: center;
  flex-direction: row;
  margin: 0.25em;

}

.board {
  margin: 0.25em;
  display: block;
  align-content: center;
  align-self: center;
  padding: 2em;
  
}

.mat {
  width:28em;
  height:27em;
  margin: 0.25em;
  display: block;
  align-items: center;
  align-content: center;
}


.label {
  width: 2.80em;
  height: 2.80em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;
  line-height: 3em;
}

.square {
  border-style: solid;
  border-width:0.05em;
  width: 2.75em;
  height: 2.75em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;

}
.light {
  background-color: beige;
}
.dark {
  background-color: forestgreen;
}
.row  {
  clear: left;
  float: left;
  display: flex;
}

.unit {
  font-size: 3.0em;
  line-height: .75em;
  align-items: center;
  align-self: center;
  text-align: center;
}
