


.banner {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: '0.5em';
  font-size: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  padding: 0em;
  font-weight: bold;
}

span {
  font-size: 0.75em;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.caption {
  width: 25em;
  font-size: 1.125em;
}


.App {
  display: block;
  text-align: center;
  flex-direction: row;
  margin: 0.5em;
}

.board {
  margin: 0.15em;
  display: block;
  align-content: center;
  align-self: center;
  padding: 1em;
}

.selectable {
  cursor: crosshair;
}

.label {
  width: 3.25em;
  height: 3.25em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
}

.square {
  width: 3.25em;
  height: 3.25em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;
}

.row  {
  margin-left: 0.5em;
  clear: left;
  float: left;
  display: flex;
}

.indented {
  margin-left: 4.5em;
}

.unit {
  width: 1.05em;
  padding-top: 0.02em;
  font-size: 3.0em;
  line-height: .75em;
  align-items: center;
  align-self: center;
  text-align: center;
}

.unit-button {
  background-color: transparent;
  border-style: none;
  width: 3.25em;
  height: 2.5em;
  padding: 0;
  margin: 0;
}

.unit-tool {
  width: 0.8em;
  padding-top: 0.02em;
  font-size: 3.0em;
  line-height: .75em;
}

.table-background {
  font-size: 0.75em;
  display: block;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tbg-textured {
  background-image: url(./images/backgrounds/purty_wood_@2X.png);
  background-repeat:repeat;
}

.tbg {
  margin-left: 0.25em;
  background-color: rgb(224, 190, 127);
}

.light {
  background-color: rgb(231, 231, 231);
}

.light-textured {
  background-image: url(./images/backgrounds/wong_marble.png);
  background-repeat:repeat;
}
.mat {
  display: 'block'
}

.table-top {
  margin: '0.25em';
  display: 'block';
}

.dark {
  background-color: rgb(0, 100, 62);
}

.dark-textured{
  background-image: url(./images/backgrounds/pool_table.png);
  background-repeat:repeat;
}

.styled-button {
  outline: none;
  margin-top: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  height: 3em;
  border-width: 0.15em;
  border-radius: 1.0em;
  border-style: solid;
  background-color: lightgrey;
  color: black;
}

.styled-button-textured {
  background-image: url(./images/backgrounds/rockywall.png);
  background-repeat:repeat;
}

.styled-button:hover {
  border-width: 0.25em;
}

.styled-button:active {
  border-color: black;
}

.expanded {
  margin-top: 1em;
}


.app-tab ul > li > a {
  background-color: transparent;
  color: black;
  outline: none;
  
}
.app-tab ul > li > a:hover {
  background-color: transparent;
  outline: none;
  color: black;
}

/* Active tab */
.app-tab ul > li.active > a,
.app-tab ul > li.active > a:hover,
.app-tab ul > li.active > a:focus {
  background-color: transparent;
  color: black;
  outline: none;
}

/* Disabled tab */
.app-tab ul > li.disabled > a {
  background-color: transparent;
  color: grey;
  outline: none;
}


.app-tab > a {
  color: black;
}

a {
color: black;
}

ul {
  margin:0;
  padding:0;
}


.nav-tab {
  margin-top: 1em;
  height: 2.75em;
  align-items: center;
  align-self: center;
  text-align: center;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue';
  background-color:rgba(200,200,200,0.5);
  display: inline-block;
  padding: 10px 25px;
  color: #666;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  border: 1px solid #ddd;
}

.nav-tab:hover {
  border: 1px solid #ddd;
  background-color: oldlace;
}

.nav-tab.active {
  background-color: rgba(200,200,200,0.5);
  color: black;
  border: 1px solid black;
  cursor: default;
  font-weight: bold;
}