


h1 {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: '0.5em';
}

span {
  font-size: 0.75em;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}
.caption {
  font-size: 1.125em;
}


.App {
  display: block;
  text-align: center;
  flex-direction: row;
  margin: 0.1em;
}

.board {
  margin: 0.15em;
  display: block;
  align-content: center;
  align-self: center;
  padding: 1em;
}

.label {
  width: 3.25em;
  height: 3.25em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;
  line-height: 3em;
  font-weight: bold;
}

.square {
  width: 3.25em;
  height: 3.25em;
  float: left;
  display: inline;
  align-items: center;
  align-self: center;
  text-align: center;
}

.row  {
  clear: left;
  float: left;
  display: flex;
}

.unit {
  width: 1.05em;
  padding-top: 0.02em;
  font-size: 3.0em;
  line-height: .75em;
  align-items: center;
  align-self: center;
  text-align: center;
}

.table-background {
  font-size: 0.75em;
  display: block;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tbg-textured {
  background-image: url(./images/backgrounds/purty_wood_@2X.png);
  background-repeat:repeat;
}

.tbg {
  background-color: tan;
}

.light {
  background-color: rgb(231, 231, 231);
}

.light-textured {
  background-image: url(./images/backgrounds/wong_marble.png);
  background-repeat:repeat;
}
.mat {
  display: 'block'
}

.table-top {
  margin: '0em';
  display: 'block';
}

.dark {
  background-color: darkgreen;
}

.dark-textured{
  background-image: url(./images/backgrounds/pool_table.png);
  background-repeat:repeat;
}

.styled-button {
  outline: none;
  margin-top: 0.5em;
  margin-left: 0.25em;
  margin-right: 0.25em;
  height: 3em;
  border-width: 0.15em;
  border-radius: 1.0em;
  border-style: solid;
  background-color: lightgrey;
  color: black;
}

.styled-button-textured {
  background-image: url(./images/backgrounds/rockywall.png);
  background-repeat:repeat;
}

.styled-button:hover {
  border-width: 0.25em;
}

.styled-button:active {
  border-color: black;
}


.expanded {
  margin-top: 1em;
}
